.primer_ul{
    display: flex;
}

.primer_ul li{
    background-color: burlywood;
    list-style: none;
    padding: 5px;
}

.desplegable_prim{
    display: none;
}

.clase:hover > .desplegable_prim{
    display: block;
    padding: 0;
}