
.sidebar {
    height: 100%;
    width: 50px; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    transition: width 0.3s;
  }
  
  .toggle-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #111;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .sidebar-content {
    display: none;
  }
  
  .sidebar-content a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  }
  
  .sidebar-content a:hover {
    background-color: #444;
  }
  
  .content {
    margin-left: 50px; 
    padding: 16px;
    transition: margin-left 0.3s;
  }
  
  .content h2 {
    color: #333;
  }
  
  
  .sidebar.active {
    width: 200px; 
  }
  
  .sidebar.active .sidebar-content {
    display: block;
    padding-top: 50px; 
  }
  
  .sidebar.active + .content {
    margin-left: 200px;
  }
  